# SPDX-FileCopyrightText: 2022 Ethaks <ethaks@pm.me>
#
# SPDX-License-Identifier: EUPL-1.2

# IDE
.idea/
.vs/
.vscode/
Session.vim

# Node Modules
node_modules/
npm-debug.log

# NPM cache
.npm

# Local configuration
foundryconfig.json

# Distribution files
dist

# Pack cache
public/packs/
public/raw-packs/

# ESLint
.eslintcache

# Junit results
junit.xml

# Coverage for tests
coverage/
.vitest-result.json

# Vite bundling stats
stats.html

# docs
docs/
