# SPDX-FileCopyrightText: 2022 Ethaks <ethaks@pm.me>
#
# SPDX-License-Identifier: EUPL-1.2

# IDE
.idea/
.vs/
Session.vim

# Node Modules
node_modules/
npm-debug.log

# NPM cache
.npm

# Local configuration
foundryconfig.json

# Distribution files
dist

# Pack cache
packs/
!src/packs

# ESLint
.eslintcache

# Junit results
junit.xml

# Coverage for tests
coverage/
