<div class="form-group">
  <label>{{localize "PF1SPHERES.Sphere"}}</label>
  <select name="flags.pf1spheres.sphere">
    {{#select item.data.flags.pf1spheres.sphere}}
      {{#each spheres as |sphere key|}}
        <option value="{{key}}">{{sphere}}</option>
      {{/each}}
    {{/select}}
  </select>
</div>
