{{!--<!--
SPDX-FileCopyrightText: 2023 Ethaks <ethaks@pm.me>
SPDX-License-Identifier: EUPL-1.2
-->--}}
<label class="checkbox">
  <input type="checkbox" name="flags.pf1spheres.countExcluded" {{checked item.flags.pf1spheres.countExcluded}}>
  {{localize "PF1SPHERES.CountExcluded"}}
</label>
