{{!--<!--
SPDX-FileCopyrightText: 2022 Ethaks <ethaks@pm.me>
SPDX-License-Identifier: EUPL-1.2
-->--}}
<form autocomplete="off">
    <div>
        {{!-- MSB --}}
        <div class="form-group">
            <label for="msbAbility">{{ localize "PF1SPHERES.CastingAbility" }}</label>
            <div class="form-fields">
                <select id="castingAbility"
                        name="flags.pf1spheres.castingAbility"
                        data-dtype="String">
                    {{selectOptions PF1CONFIG.abilities selected=pf1sFlags.castingAbility blank="PF1.None" localize=true}}
            </select>
        </div>
        <p class="notes">
            {{ localize "PF1SPHERES.Settings.CastingAbilityNote" }}
        </p>
    </div>
</div>
</form>
